.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.spinner-number {
  margin: 0 8px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  width: 40px;
  text-align: center;
}

.spinner-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinning .spinner-number {
  animation: spin 5s linear infinite;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  text-align: center;
}

.prize-word {
  font-size: 2rem;
  color: white;
  animation: switchColor 1.5s infinite alternate;
}

@keyframes switchColor {
  from {
    color: white;
  }
  to {
    color: red;
  }
}
